<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Список друзей</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <div class="text-secondary text-center font-weight-bold my-5">
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:library'%}">Библиотека</a> |
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:book_list'%}">Книги</a> |
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:author_list'%}">Авторы</a> |
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:publisher_list'%}">Издательства</a>
                </div>
                <h2 class="text-secondary text-center my-3">Список друзей:</h2>
                <table class="table table-stripped table-hover">
                    {% for friend in object_list %}
                    <tr class="table-bordered">
                        <td style="width:20px;">{{ forloop.counter }}</td>
                        <td>{{ friend.full_name }}</td>
                        <td style="width:20px;text-align:right;">
                            <a class="btn btn-outline-primary" href="{%url 'p_library:friend_update' friend.id %}">Изменить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-success my-3" href="{%url 'p_library:friend_create'%}">Добавить друга</a>
            </div>
        </div>
    </div>
</body>
</html>